/* General */
html {
  --default-box-size: min(8vw, 5.5vh);
  --default-font-size: calc(var(--default-box-size) * 0.9);
  --dark-color: rgb(55 54 71);
  --light-color: rgb(239 239 239);
  --board-box-diam: min(15vmax, 20vmin, 145px);

  background-color: var(--dark-color);
}

body {
  margin: 0;
}

h1 {
  all: unset;
  font-size: calc(var(--default-font-size) * 1.2);
  display: block;
  font-weight: bold;
}

small {
  font-size: calc(var(--default-font-size) * 0.5);
}

a {
  color: var(--light-color);
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  font-size: calc(var(--default-font-size) * 0.75);
  font-family: sans-serif;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  color: black;
  margin: 10px;
  padding: 1px 6px;
}

button:disabled {
  opacity: 0.5;
}

.App {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: sans-serif;
  font-size: var(--default-font-size);
  display: grid;
  height: 90vh; /* fallback if svh isn't handled */
  height: 100svh;
  width: 100vw;
  overflow: scroll;
}

#info {
  white-space: pre-line;
  padding: 5vmin;
}

.close {
  margin-bottom: 2vh;
}

.info {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(var(--default-font-size) * 0.75);
}

.infoText {
  margin: 2vmax;
}

.info a {
  color: rgb(0 162 255);
}

#blobble {
  display: grid;
  grid-template-areas:
    "controls"
    "game";
  grid-template-rows:
    auto
    1fr;
}

#game {
  grid-area: game;
}

#exitDaily {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  width: 100vw;
  height: calc(var(--default-box-size) * 1.2);
  border-bottom: 2px solid var(--light-color);
}

#board {
  display: grid;
  background-color: var(--dark-color);
  touch-action: none;
  justify-content: center;
  grid-template-columns: repeat(4, var(--board-box-diam));
  grid-template-rows: repeat(4, var(--board-box-diam));
  margin: 3vmax 0;
  justify-self: center;
  align-items: center;
  justify-items: center;
}

.letterBox {
  width: 95%;
  height: 95%;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
}

.letter {
  background-color: transparent;
  width: 60%;
  height: 60%;
  font-size: calc(var(--default-font-size) * 1.2);
  color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.letterBox.unavailable {
  background-color: var(--dark-color);
}

.letterBox.unavailable > .letter {
  color: var(--light-color);
}

#shapes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.shape {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 10px;
}

.shapeBox {
  width: 5vmin;
  height: 5vmin;
}

.shapeBox.filled {
  background-color: var(--light-color);
}
