.rules {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  overflow: scroll;
  font-size: calc(var(--default-font-size) * 0.7);
  justify-items: center;
  align-items: center;
}

#rulesHeader {
  font-size: var(--default-font-size);
}

.rulesText {
  white-space: pre-line;
  margin: 0 2vmax;
}

#rulesClose {
  height: fit-content;
  width: fit-content;
}

#rulesVersion {
  margin: 0 0 1vmax;
}

#rulesDemo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80vmin;
  aspect-ratio: 2/1;
  background-image: url("../images/rules_demo.svg");
}
